

.Header {
  display: flex;
  justify-content: space-between;
  margin: 15px;
  background-color: rgba(110, 110, 110, 0.904);
}

.logo {
  width: 13%;
}
.nav-items > ul {
  list-style-type: none;
  display: flex;
}

.nav-items > ul > li {
  padding: 12px;
  font-size: 17px;
  color: azure;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  
}


.logBtn{
  justify-content: end;
}

.card {
  width: 18%;
  padding: 10px;
  margin: 15px;
  border: 1px solid rgb(235, 241, 245);
  border-radius: 3px;
  box-shadow: 0 4px 7px 0 rgba(234, 242, 243, 0.6);
}


.card > img {
  width: 100%; /*it will resize with the width of the card*/
}

.card > h1 {
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.restCardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-container {
  margin: 25px;
}
.searchBar {
  width: 20%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid gray;
}
.SearchBtn {
  width: 5%;
  padding: 7px;
  margin: 3px;
  border-radius: 3px;
  border: 1px solid gray;
}

/*Shimmer CSS */

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
  justify-content: center;
}
.shimmer-card {
  width: 18%;
  padding: 13px;
  margin: 15px;
  border-color: #d3d5df;
  border: 1px solid rgb(243, 243, 243);
  box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}
.shimmer-title {
  width: 55%;
  margin-top: 10px;
}
.shimmer-tags {
  width: 50%;
  margin-top: 4px;
}
.shimmer-details {
  width: 30%;
  margin-top: 18px;
}
.shimmer-container .shimmer-img {
  height: 150px;
  width: 263px;
}

/*Animation to Shimmer Component Cards */
.stroke {
  height: 15px;
  background: #777;
}
.animate {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
}
@keyframes shimmer {
  from {
    background-position: -1000px 0;
  }
  to {
    background-position: 1000px 0;
  }
}
